#uploadZone {
	margin-top: 30px;
}

#uploaded {
	background-color: lightgrey;
	margin: 15px 10px;
	overflow: auto;
	height: 530px;
	display: inline-block;
}

.photoAndLegend {
	margin-right: 10px;
	margin-top: 10px;
	display: inline-block;
}

.photoDate {
	margin-left: 20px;
	margin-right: 20px;
	font-size: 16px;
	font-weight: bold;
}

.street {
	margin-left: 25px;
	font-size: 16px;
	font-weight: bold;
}

.district {
	font-size: 16px;
	font-weight: bold;
	color: gray;
}

.fileinput-button {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px !important;
	direction: ltr;
	cursor: pointer;
}

#reportZone {
	margin: 10px;
	padding: 15px;
	border: 1px solid gray;
	font-size: 18px;
	border-radius: 15px;
}

#reportZone input {
	padding: 5px;
	font-size: 24px;
	background: lightgrey;
}

#reportZone a {
	margin: 5px;
	padding: 10px 4px;
	text-decoration: none;
	border: 1px solid grey;
	background: darkgrey;
	border-radius: 4px;
}

#reportZone a:hover {
	background: lightgrey;
}

#successZone {
	position: absolute;
	top: 100px;
	left: 100px;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
	background: white;
	font-size: 24px;
	color: black;
}

#successClose {
	margin: 5px;
	padding: 10px 4px;
	text-decoration: none;
	border: 1px solid grey;
	background: green;
	border-radius: 4px;
	color: white;
}

#successClose:hover {
	background: lightgreen;
}

#streetZone {
	position: relative;
	top: -350px;
	height: 250px;
	left: 60px;
	width: 300px;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
	background: white;
	overflow: auto;
}

#streets {
	margin-right: 7px;
}

#streets a {
	display: block;
	text-decoration: none;
}

#streets a:hover {
	background: lightgrey;
}

#streetsClose {
	position: absolute;
	top: 3px;
	right: 3px;
}

#district {
	width: 60px;
}

#districtZone {
	position: relative;
	top: -350px;
	height: 250px;
	left: 500px;
	width: 80px;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
	background: white;
	overflow: auto;
}

#districts {
	margin-right: 7px;
}

#districts a {
	display: block;
	text-decoration: none;
}

#districts a:hover {
	background: lightgrey;
}

#districtsClose {
	position: absolute;
	top: 3px;
	right: 3px;
}

#date {
	width: 140px;
}

#dateHelp {
	font-size: 12px;
	color: gray;
}

#status {
	font-size: 20px;
	color: red;
	font-weight: bold;
	margin-left: 50px;
}

.glyphicon-plus:before {
	content: "\2b"
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

.btn:hover, .btn:focus {
	color: #333;
	text-decoration: none
}

.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
	color: #fff;
	background-color: #449d44;
	border-color: #398439
}

.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
	background-image: none
}

/* Fixes for IE < 8 */
@media screen\9 {
	.fileinput-button input {
		filter: alpha(opacity=0);
		font-size: 100%;
		height: 100%;
	}
}