@font-face {
	font-family: 'digital-clock-font';
	src: url('../fonts/digital-7.ttf');
}

#uploadZone {
	margin-top: 30px;
}

#uploadedZone {
	background-color: lightgrey;
	margin: 15px 10px;
	display: block;
}

#uploadedProgress {
	margin: 4px;
}

#uploaded {
	overflow: auto;
	height: 380px;
	width: 100%;
	display: inline-block;
}

.photoAndLegend {
	position: relative;
	margin-right: 10px;
	margin-top: 10px;
	display: inline-block;
}

.photoDate {
	position: absolute;
	top: 15px;
	left: 15px;
	color: white;
	background: black;
	padding: 0 4px;
	opacity: 0.7;
	font-family: 'digital-clock-font', sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.photoCoordinates {
	position: absolute;
	bottom: 50px;
	left: 15px;
	color: white;
	background: black;
	padding: 0 4px;
	opacity: 0.7;
	font-family: 'digital-clock-font', sans-serif;
	font-size: 13px;
}

.photoStreet {
	margin-left: 5px;
	font-size: 14px;
	font-weight: bold;
}

.photoDistrict {
	font-size: 14px;
	font-weight: bold;
	color: gray;
}

.fileinput-button {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px !important;
	direction: ltr;
	cursor: pointer;
}

#reportZone {
	margin: 10px;
	padding: 15px;
	border: 1px solid gray;
	border-radius: 15px;
}

#streetZone {
	position: absolute;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
	background: white;
	overflow: auto;
}

#streets {
	margin-right: 10px;
}

#streets a {
	display: block;
	text-decoration: none;
}

#streets a:hover {
	background: lightgrey;
}

#streetsClose {
	position: absolute;
	top: 3px;
	right: 3px;
}

#district {
	width: 60px;
}

#districtZone {
	position: absolute;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
	background: white;
	overflow: auto;
}

#districts {
	margin-right: 10px;
}

#districts a {
	display: block;
	text-decoration: none;
}

#districts a:hover {
	background: lightgrey;
}

#districtsClose {
	position: absolute;
	top: 3px;
	right: 3px;
}

#date {
	width: 140px;
}

#dateHelp {
	font-size: 12px;
	color: gray;
}

#dateZone {
	display: none;
	position: absolute;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
	background: white;
}