#map {
	height: 100%;
	width: 100%;
	margin: 0;
}

#displayChoices {
	position: fixed;
	left: 80px;
	top: 40px;
	border: 4px solid black;
	border-radius: 13px;
	padding: 0 8px;
	background: white;
}

#displayChoices a {
	padding: 10px 4px;
	text-decoration: none;
	border: 1px solid grey;
	background: darkgrey;
	border-radius: 4px;
}

#displayChoices a:hover {
	background: lightgrey;
}

#photos {
	position: fixed;
	left: 80px;
	right: 80px;
	top: 80px;
	padding: 20px;
	border: 3px solid darkgrey;
	background: white;
}

#photos p {
	line-height: 1px;
	text-align: right;
}

#photosList {
	overflow: auto;
	height: 530px;
	display: inline-block;
}

.photo {
}

.photoAndLegend {
	margin-right: 10px;
	margin-top: 10px;
	display: inline-block;
}

.photoDate {
	margin-left: 20px;
	font-size: 16px;
	font-weight: bold;
}

#infoPhoto {
	font-size: 12px;
}

#infoPhoto p {
	line-height: 3px;
}
