@font-face {
	font-family: 'digital-clock-font';
	src: url('../fonts/digital-7.ttf');
}

#map {
	position: absolute;
	top: 30px;
	bottom: 0;
	width: 100%;
}

#photos {
	display: none;
	position: fixed;
	left: 80px;
	right: 80px;
	top: 80px;
	bottom: 30px;
	padding: 20px;
	border: 3px solid darkgrey;
	background: white;
}

@media (max-width: 480px) {
	#photos {
		left: 10px;
		right: 10px;
		top: 40px;
		bottom: 10px;
		padding: 10px;
	}
}

#photos p {
	line-height: 1px;
	text-align: right;
}

#android {
	display: none;
	position: fixed;
	left: 20px;
	right: 20px;
	top: 30px;
	padding: 20px;
	border: 3px solid darkgrey;
	background: white;
}

#androidClose {
	line-height: 1px;
	text-align: right;
}

#androidMessage {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

#photosList {
	overflow-y: scroll;
	position: absolute;
	left: 10px;
	right: 40px;
	top: 10px;
	bottom: 10px;
	display: inline-block;
}

.photo {
}

.photoAndLegend {
	position: relative;
	margin-right: 10px;
	margin-top: 10px;
	display: inline-block;
}

@media (max-width: 480px) {
	.photoAndLegend {
		margin-right: 0;
	}
}

.photoDate {
	position: absolute;
	top: 15px;
	left: 15px;
	color: white;
	background: black;
	padding: 0 4px;
	opacity: 0.7;
	font-family: 'digital-clock-font', sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.photoCoordinates {
	position: absolute;
	bottom: 60px;
	left: 15px;
	color: white;
	background: black;
	padding: 0 4px;
	opacity: 0.7;
	font-family: 'digital-clock-font', sans-serif;
	font-size: 13px;
}

.username {
	position: absolute;
	bottom: 30px;
	left: 50px;
	color: white;
	background: black;
	padding: 0 4px;
	opacity: 0.7;
	font-size: 15px;
}

.like {
	position: absolute;
	bottom: 30px;
	left: 10px;
	color: white;
	background: black;
	padding: 0 4px;
	opacity: 0.7;
	font-size: 15px;
}

.like:hover {
	color: pink;
	text-decoration: none;
}

.isLiked {
	color: #ff5e56;
}

#infoPhoto {
	margin-top: 10px;
	font-size: 12px;
}

#infoPhoto p {
	line-height: 3px;
}

#filter {
	display: none;
	position: fixed;
	left: 40px;
	right: 40px;
	top: 60px;
	padding: 20px;
	border: 3px solid darkgrey;
	background: white;
}

#filterPane {
	margin-top: 25px;
}
