@font-face {
	font-family: 'digital-clock-font';
	src: url('../fonts/digital-7.ttf');
}

#controls {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.frames {
	position: fixed;
	top: 30px;
	bottom: 0;
	overflow-y: scroll;
	text-align: center;
	width: 100%;
	background: #eeeeee;
	text-indent: 0;
}

.frame {
	text-align: center;
	width: 450px;
	height: auto;
	border-bottom: 1px solid gray;
	padding: 10px;
	display: block;
}

.framesList {
	text-align: center;
	width: 450px;
	margin: auto;
	background: white;
}

@media (max-width: 480px) {
	.frames {
	}

	.framesList {
		width: auto;
	}

	.frame {
		width: auto;
		padding: 10px 0;
	}
}

.photoAndLegend {
	position: relative;
}

.photoThumbnail {
}

.photoThumbnail:hover {
	opacity: 0.6;
}

.photoDate {
	position: absolute;
	top: 15px;
	left: 15px;
	color: white;
	background: black;
	padding: 0 4px;
	opacity: 0.7;
	font-family: 'digital-clock-font', sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.photoAddress {
	position: absolute;
	top: 40px;
	left: 15px;
	color: white;
	background: black;
	padding: 0 4px;
	opacity: 0.7;
	font-size: 16px;
}

.photoCoordinates {
	position: absolute;
	bottom: 60px;
	left: 15px;
	color: white;
	background: black;
	padding: 0 4px;
	opacity: 0.7;
	font-family: 'digital-clock-font', sans-serif;
	font-size: 13px;
}

.username {
	position: absolute;
	bottom: 30px;
	left: 50px;
	color: white;
	background: black;
	padding: 0 4px;
	opacity: 0.7;
	font-size: 15px;
}

.like {
	position: absolute;
	bottom: 30px;
	left: 10px;
	color: white;
	background: black;
	padding: 0 4px;
	opacity: 0.7;
	font-size: 15px;
}

.like:hover {
	color: pink;
	text-decoration: none;
}

.isLiked {
	color: #ff5e56;
}

#photo {
	display: none;
	position: fixed;
	left: 40px;
	right: 40px;
	top: 60px;
	bottom: 40px;
	padding: 20px;
	border: 3px solid darkgrey;
	background: white;
}

#photoPanes {
}

#photoPane {
	position: absolute;
	left: 10px;
	top: 10px;
	bottom: 10px;
	right: 240px;
	text-align: center;
	display: flex;
	align-items: center;
}

#photoPane img {
	vertical-align: middle;
	margin: auto;
}

#photoDetails {
	position: absolute;
	width: 220px;
	right: 10px;
	top: 45px;
	bottom: 10px;
	font-size: 18px;
	background: lightgrey;
	padding: 5px;
}

#photoAuthor {
	font-weight: bold;
	color: darkblue;
}

#photoDate {
	font-weight: bold;
	color: darkblue;
}

#photoStreet {
	font-weight: bold;
	color: darkred;
}

#photoDistrict {
	font-weight: bold;
	color: darkred;
}

#photoLatitude {
	font-weight: bold;
}

#photoLongitude {
	font-weight: bold;
}

#photoSize {
	font-weight: bold;
}

#photoLikes {
	font-weight: bold;
}

#photoDownload {
	text-decoration: none;
	color: #666;
}

.photoDownload:hover {
	color: #000;
}

@media (max-width: 480px) {
	#photoPane {
		display: none;
	}

	#photoDetails {
		position: inherit;
		width: auto;
		margin-top: 25px;
	}

	#photoDownload {
		display: none;
	}

}

@media (min-width: 481px) {
	#photoView {
		display: none;
	}
}

@media (max-width: 700px) {
	#photoDetails {
		font-size: 15px;
	}
}

#filter {
	display: none;
	position: fixed;
	left: 40px;
	right: 40px;
	top: 60px;
	padding: 20px;
	border: 3px solid darkgrey;
	background: white;
}

#filterPane {
	margin-top: 25px;
}
