* {
	font-family: sans-serif;
}

body {
	margin: 0;
	padding: 0
}

#controls {
	padding: 2px;
	height: 30px;
	background: lightgrey;
}

#logo {
	margin-top: -2px;
	float: left;
	margin-right: 3px;
	display: inline;
}

.controlBox {
	float: left;
	padding: 2px;
	border: 1px outset darkgrey;
	border-radius: 6px;
	display: inline;
}

.controlBox .label {
	padding: 2px;
}

.controlBox a {
	font-weight: bold;
	text-decoration: none;
	border-radius: 6px;
	padding: 2px;
}

.controlBox a:hover {
	background: white;
}

.links {
	float: right;
	display: inline;
	margin-top: -3px;
}

.close {
	font-size: 20px;
	text-decoration: none;
	color: #666;
}

.close:hover {
	color: #000;
}
