* {
	font-family: sans-serif;
}

body {
	margin: 0;
	padding: 0
}

#controls {
	padding: 2px;
	height: 30px;
	background: lightgrey;
}

.link {
	margin-left: 3px;
}

#logo {
	margin-top: -2px;
	float: left;
	margin-right: 3px;
	display: inline;
}

.controlBox {
	float: left;
	display: inline;
	margin-top: -3px;
}

.links {
	float: right;
	display: inline;
	margin-top: -3px;
	margin-bottom: -3px;
}

.close {
	font-size: 20px;
	text-decoration: none;
	color: #666;
}

.close:hover {
	color: #000;
}

.glyphicon.spinning {
	animation: spin 2s infinite linear;
	-webkit-animation: spin2 2s infinite linear;
}

.glyphicon-refresh.spinning {
	transform-origin: 50% 48%;
}

@keyframes spin {
	from {
		transform: scale(1) rotate(0deg);
	}
	to {
		transform: scale(1) rotate(360deg);
	}
}

@-webkit-keyframes spin2 {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@media (max-width: 480px) {
	.hideOnMobile {
		display: none;
	}
}

@media (min-width: 481px) {
	.showOnMobile {
		display: none;
	}
}

@media (max-width: 700px) {
	.hideOnSmallScreen {
		display: none;
	}
}

@media (min-width: 700px) {
	.showOnSmallScreen {
		display: none;
	}
}